*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
    margin-top: 70px;
}
nav{
    background-color: tan;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
li{
    margin-right: 2em;
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
a:hover{
    color: brown;
}


/* ### Loginform style */

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;    
}
  
/* ### Kontakt style */  
.abautMeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;  
}
.aboutMe{
    height: 20em;
    width: 30em;
}
p{
    color: white;
}
h1{
    color: white;
}